<div class="location">
         <strong>你现在所在的位置是:</strong>
         <span>新建申请单</span>
     </div>
     <div class="search">
         <span>器具名称：</span>
         <input type="text" placeholder="请输入器具名称"/>
         <span>器具编号：</span>
         <input type="text" placeholder="请输入器具编号"/>
         <span>使用地点：</span>
         <input type="text" placeholder="请输入使用地点"/>
         <span>是否省外检定：</span>
         <select name="outer">
                 <option value="是">是</option>
                 <option value="否">否</option>
         </select>
         <input type="button" value="查询"/>
         <a href="#">检定申请提交</a>
     </div>
     <!--检定申请器具信息-->
     <table class="providerTable" cellpadding="0" cellspacing="0">
         <tr class="firstTr">
           <th><input type="checkbox" value="" />全选</th>
             <th>编号</th>
             <th>一级类别</th>
             <th>二级类别</th>
             <th>器具名称</th>
             <th>出厂名称</th>
             <th>测量范围</th>
             <th>准确度等级</th>
             <th>制造单位</th>
             <th>出厂编号</th>
             <th>用途</th>
             <th>安装地点</th>
             <th>操作</th>
         </tr>
         <tr>
             <td><input type="checkbox" value="" /></td>
             <td>123</td>
             <td>北京市粮油总公司</td>
             <td>22.00</td>
             <td>未付款</td>
             <td>2015-11-12</td>
             <td>213</td>
             <td>123</td>
             <td>北京市粮油总公司</td>
             <td>22.00</td>
             <td>未付款</td>
             <td>2015-11-12</td>
             <td>
                 <a href="billView.html"><img src="../../image/see.png" alt="查看证明材料" title="查看证明材料"/></a>
                 <a href="billUpdate.html"><img src="../../image/xiugai.png" alt="修改" title="修改"/></a>
                 <a href="#" class="removeBill"><img src="../../image/schu.png" alt="删除" title="删除"/></a>
             </td>
         </tr>
         <tr>
             <td><input type="checkbox" value="" /></td>
             <td>123</td>
             <td>北京市粮油总公司</td>
             <td>22.00</td>
             <td>未付款</td>
             <td>2015-11-12</td>
             <td>213</td>
             <td>123</td>
             <td>北京市粮油总公司</td>
             <td>22.00</td>
             <td>未付款</td>
             <td>2015-11-12</td>

             <td>
                 <a href="billView.html"><img src="img/see.png" alt="查看证明材料" title="查看证明材料"/></a>
                 <a href="billUpdate.html"><img src="img/xiugai.png" alt="修改" title="修改"/></a>
                 <a href="#" class="removeBill"><img src="img/schu.png" alt="删除" title="删除"/></a>
             </td>
         </tr>

     </table>
