<div>
    <h2 class="leftH2"><span class="span1"></span>器具用户 <span></span></h2>
    <nav>
        <ul class="list">
            <li><a>器具档案</a></li>
            <ul class="list">
                <li><a ui-sref="toolrecord.tool">强检器具</a></li>
                <li><a ui-sref="toolrecord.tooloption">非强检器具</a></li>
                <li><a ui-sref="toolrecord.expiretool">到期预警器具</a></li>
            </ul>
        </ul>
        <ul class="list">
            <li><a>检定申请</a></li>
            <ul class="list">
                <li><a ui-sref="toolrecord.addapply">新建申请单</a></li>
                <li><a ui-sref="toolrecord.applylist">查看申请单</a></li>
            </ul>
        </ul>
        <ul class="list">
            <li><a>综合查询</a></li>
            <ul class="list">
                <li><a ui-sref="toolrecord.toolalllist">强检器具</a></li>
                <li><a ui-sref="toolrecord.tooloptalllist">非强检器具</a></li>
            </ul>
        </ul>
    </nav>
</div>
