
    <div id="ajax-hook"></div>
    <div class="wrap">
        <div class="wpn">
            <div class="form-data pos">
                <a href=""><img src="../image/logo.png" class="head-logo"></a>
                <form>
                    <p class="p-input pos">
                     	<input type="text" id="area" placeholder="请输入注册区域">
                    </p>
                    <p class="p-input pos" id="username">
                        <input type="text" id="username" placeholder="请输入用户名">
                    </p>
                    <p class="p-input pos hide" id="pwd">
                        <input type="password" id="passport" placeholder="请输入密码">
                    </p>
                    <!--<p class="p-input pos hide" id="confirmpwd">
                        <input type="password" id="passport2" placeholder="请输入确认密码">
                    </p>-->
					 <p class="p-input pos">
                        <input type="text" id="companyname" placeholder="请输入企业名称">
                    </p>
                    <p class="p-input pos">
                        <input type="text" id="formername" placeholder="请输入企业曾用名">
                    </p>
                     <p class="p-input pos">
                        <input type="text" id="code" placeholder="请输入组织机构代码">
                    </p>
                    <p class="p-input pos">
                        <input type="text" id="address" placeholder="请输入企业详细地址">
                    </p>
                    <p class="p-input pos">
                        <input type="text" id="legalperson" placeholder="请输入企业法人">
                    </p>
                    <p class="p-input pos">
                        <input type="text" id="legalphone" placeholder="请输入法人电话">
                    </p>
                     <p class="p-input pos">
                        <input type="text" id="name" placeholder="请输入联系人姓名">
                    </p>
                    <p class="p-input pos">
                        <input type="text" id="phone" placeholder="请输入联系人电话">
                    </p>
                     <p class="p-input pos">
                        <input type="text" id="card" placeholder="请输入联系人身份证">
                    </p>
                     <p class="p-input pos">
                        <input type="text" id="license" placeholder="请输入公司营业执照">
                    </p>
                </form>
                <button class="lang-btn">注册</button>
            </div>
        </div>
    </div>
