<ui-view>
  <div class="location">
    <strong>你现在所在的位置是:</strong>
    <span>强检器具列表</span>
  </div>
  <div class="search">
    <span>器具名称：</span>
    <input type="text" placeholder="请输入器具的名称" ng-model="toolname" />
    <input type="button" value="查询" />
    <a ui-sref="toolrecord.tool.add">添加器具</a>
  </div>
  <table class="providerTable" cellpadding="0" cellspacing="0">
    <tr class="firstTr">
      <th>编号</th>
      <th>一级类别</th>
      <th>二级类别</th>
      <th>器具名称</th>
      <th>出厂名称</th>
      <th>测量范围</th>
      <th>准确度等级</th>
      <th>型号规格</th>
      <th>生产厂家</th>
      <th>出厂编号</th>
      <th>用途</th>
      <th>安装地点</th>
      <th>所属部门</th>
      <th>使用人员</th>
      <th>购入日期</th>
      <th>购置价格</th>
      <th>使用状态</th>
      <th>操作</th>
    </tr>
    <tr ng-repeat="tool in toollist">
      <td ng-bind="tool.id"></td>
      <td ng-bind="tool.firstkind"></td>
      <td ng-bind="tool.secondkind"></td>
      <td ng-bind="tool.toolname"></td>
      <td ng-bind="tool.factory"></td>
      <td ng-bind="tool.scope"></td>
      <td ng-bind="tool.level"></td>
      <td ng-bind="tool.standard"></td>
      <td ng-bind="tool.manufact"></td>
      <td ng-bind="tool.number"></td>
      <td ng-bind="tool.use"></td>
      <td ng-bind="tool.address"></td>
      <td ng-bind="tool.depart"></td>
      <td ng-bind="tool.person"></td>
      <td ng-bind="tool.date"></td>
      <td ng-bind="tool.price"></td>
      <td ng-bind="tool.sate"></td>

      <td>
        <a href="#"><img src="../../image/see.png" alt="查看证明材料" title="查看证明材料"/></a>
        <a href="#"><img src="../../image/read.png" alt="查看" title="查看"/></a>
        <a href="#"><img src="../../image/xiugai.png" alt="修改" title="修改"/></a>
        <a href="#" class="removeBill"><img src="../../image/schu.png" alt="删除" title="删除"/></a>
      </td>
    </tr>

  </table>
</ui-view>
