<div class="location">
                <strong>你现在所在的位置是:</strong>
                <span>强检器具综合查询</span>
            </div>
            <div class="search">
            	<span>检定时间段：</span>
                <input type="text" placeholder="请输入检定时间段"/>
                <span>检定机构：</span>
                <input type="text" placeholder="请输入检定机构"/>
                <span>一级类别：</span>
                <input type="text" placeholder="请输入一级类别"/>
                <span>二级类别：</span>
                <input type="text" placeholder="请输入二级类别"/>
            </div>
             <div class="search">
                <span style="margin-left: 48px;">用途：</span>
                <input type="text" placeholder="请输入用途"/>
                <span>器具名称：</span>
                <input type="text" placeholder="请输入器具的名称"/>
                <span>检定结果：</span>
                <input type="text" placeholder="请输入检定结果"/>
                <input type="button" value="查询"/>
            </div>

            <table class="providerTable" cellpadding="0" cellspacing="0">
                <tr class="firstTr">
                    <th>编号</th>
                    <th>一级类别</th>
                    <th>二级类别</th>
                    <th>器具名称</th>
                    <th>出厂名称</th>
                    <th>测量范围</th>
                    <th>准确度等级</th>
                    <th>型号规格</th>
                    <th>生产厂家</th>
                    <th>出厂编号</th>
                    <th>用途</th>
                    <th>安装位置</th>
                    <th>检定机构</th>
                    <th>检定日期</th>
                    <th>有效期至</th>
                    <th>检定结果</th>
                    <th>证书编号</th>
                </tr>
                <tr>
                    <td>213</td>
                    <td>123</td>
                    <td>北京市粮油总公司</td>
                    <td>22.00</td>
                    <td>未付款</td>
                    <td>2015-11-12</td>
                    <td>213</td>
                    <td>123</td>
                    <td>北京市粮油总公司</td>
                    <td>22.00</td>
                    <td>未付款</td>
                    <td>2015-11-12</td>
                    <td>123</td>
                    <td>北京市粮油总公司</td>
                    <td>22.00</td>
                    <td>未付款</td>
                    <td>2015-11-12</td>

                </tr>
                <tr>
                    <td>213</td>
                    <td>123</td>
                    <td>北京市粮油总公司</td>
                    <td>22.00</td>
                    <td>未付款</td>
                    <td>2015-11-12</td>
                    <td>213</td>
                    <td>123</td>
                    <td>北京市粮油总公司</td>
                    <td>22.00</td>
                    <td>未付款</td>
                    <td>2015-11-12</td>
                    <td>123</td>
                    <td>北京市粮油总公司</td>
                    <td>22.00</td>
                    <td>未付款</td>
                    <td>2015-11-12</td>
                </tr>

            </table>
